body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2b5876, #4e4376);
    color: #fff;
    text-align: center;
}

header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

section {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #42b3ff;
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

a {
    color: #42b3ff;
    text-decoration: underline;
    font-weight: bold;
}
footer {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.3em;
    }
    p {
        font-size: 1em;
    }
}
